<form [formGroup]="config">
  <div fxLayout="column" fxLayoutAlign=" stretch" >

    <div class="race-time">
      <p class="subtitle mat-subheading-1">Race/Stint duration :</p>
      <mat-form-field appearance="fill">
        <mat-label>Hour(s)</mat-label>
        <input matInput type="number" placeholder="Ex. 1" formControlName="race_hours">
        <span matSuffix>h</span>
        <mat-error appFormControl [control]="config.get('race_hours')"></mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Minute(s)</mat-label>
        <input matInput type="number" placeholder="Ex. 30" formControlName="race_minutes" >
        <span matSuffix>min</span>
        <mat-error appFormControl [control]="config.get('race_minutes')"></mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Second(s)</mat-label>
        <input matInput type="number" placeholder="Ex. 30" formControlName="race_seconds">
        <span matSuffix>s</span>
        <mat-error appFormControl [control]="config.get('race_seconds')"></mat-error>
      </mat-form-field>
    </div>

    <div class="lap-time">
      <p class="subtitle mat-subheading-1">Lap duration :</p>
      <mat-form-field appearance="fill">
        <mat-label>Minute(s)</mat-label>
        <input matInput type="number" placeholder="Ex. 1" formControlName="lap_minutes">
        <span matSuffix>min</span>
        <mat-error appFormControl [control]="config.get('lap_minutes')"></mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Second(s)</mat-label>
        <input matInput type="number" placeholder="Ex. 12" formControlName="lap_seconds">
        <span matSuffix>s</span>
        <mat-error appFormControl [control]="config.get('lap_seconds')"></mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Millisecond(s)</mat-label>
        <input matInput type="number" placeholder="Ex. 123" formControlName="lap_milliseconds">
        <span matSuffix>ms</span>
        <mat-error appFormControl [control]="config.get('lap_milliseconds')"></mat-error>
      </mat-form-field>
    </div>

    <div class="track-selection stretch">
      <mat-form-field appearance="fill">
        <mat-label>Track</mat-label>
        <mat-select (selectionChange)="onTrackChange($event)" formControlName="track">
          <mat-option *ngFor="let track of tracks" [value]="track">{{ track.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="car-selection stretch">
      <mat-form-field appearance="fill">
        <mat-label>Car</mat-label>
        <mat-select (selectionChange)="onCarChange($event)" formControlName="car">
          <mat-option *ngFor="let car of cars" [value]="car">{{ car.brand }} - {{ car.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <div class="consumption stretch">
      <mat-form-field appearance="fill">
        <mat-label>Consumption</mat-label>
        <input matInput type="number" placeholder="Ex. 30" formControlName="car_consumption">
        <span matSuffix>L/lap</span>
        <mat-error appFormControl [control]="config.get('car_consumption')"></mat-error>
      </mat-form-field>
    </div>

    <!-- <div class="compute stretch">
      <button mat-raised-button color="primary" [disabled]="config.invalid" (click)="getResults()">Primary</button>
      <mat-error appFormControl [control]="config"></mat-error>
    </div> -->
  </div>
</form>

<app-result class="result" 
[race_time]="getRaceTime()" 
[lap_time]="getLapTime()" 
[consumption]="config.get('car_consumption').value" 
[track]="config.get('track').value"
></app-result>