<div class="mat-title">Reset your password</div>

<form *ngIf="!step2" [formGroup]="step1Form">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="jdoe@example.com" formControlName="email">
        <mat-error appFormControl [control]="step1Form.get('email')">Invalid email</mat-error>
      </mat-form-field>
    </div>

    <div>
        <button mat-raised-button color="primary" class="stretched" (click)="resetPasswordEmail()" [disabled]="!step1Form.valid">Send email</button>
    </div>

</form>

<form *ngIf="step2" [formGroup]="step2Form">

    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="new_password1">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error appFormControl [control]="step2Form.get('new_password1')">Invalid email</mat-error>
        </mat-form-field>
    </div>

    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Confirm New Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="new_password2">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error appFormControl [control]="step2Form.get('new_password2')">Invalid email</mat-error>
        </mat-form-field>
    </div>

    <div>
      <button mat-raised-button color="primary" class="stretched" (click)="resetPasswordConfirmation()" [disabled]="!step2Form.valid">Reset Password</button>
    </div>
    
</form>

<p *ngIf="message.length > 0">{{ message }}</p>

